@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.coffee-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coffee-list {
  display: inline-grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
}

.main_title {
  font-family: "Patua One", cursive;
  letter-spacing: 2px;
}
